/* BASICS START*/



:root {
  --pink: #B58585;
  --lightpink: #F9F2F2;
  --black: #211111;
  --white: #FFFEFE;
}

.inria-serif-light {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: normal;
}

.inria-serif-regular {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.inria-serif-bold {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.inria-serif-light-italic {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: italic;
}

.inria-serif-regular-italic {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.inria-serif-bold-italic {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: italic;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  padding-top: 250px;
}

h2 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 26px;
}

h3 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
}

h4 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}

.logo {
  font-family: 'Adamina', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-decoration: none;
}

h1,
p {
  margin: 0px;
}

@media (max-width: 768px) {
  h1 {
    font-family: "Inria Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    padding-top: 250px;
  }

  h2 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
  }

  p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
  }

}

/* BASICS END */

/* --------- TOP BAR THAT CHANGES TEKST START --------- */
#top-bar {
  background-color: var(--pink);
  color: var(--white);
  text-align: center;
  padding: 5px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
}

#changing-text {
  font-weight: normal;
  font-size: 13px;
  display: inline-block;
  opacity: 0;
  /* Starter som usynlig */
}

.show-text {
  animation: fadeInOut 4s ease-in-out forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  50% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

/* --------- TOP BAR THAT CHANGES TEKST END --------- */

/* --------- NAV BAR START --------- */
/* NAVIGATION */
nav {
  margin-top: 29px;
  background-color: var(--white);
  width: 100%;
  position: fixed;
  z-index: 10001;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.navbar.transparent {
  box-shadow: none;
}

/* Gennemsigtig start */
.navbar.transparent {
  background-color: transparent;
  color: var(--white);
}

.navbar.transparent a {
  color: var(--white);
}

.nav__menulinje a {
  position: relative;
  display: inline-block;
}

.nav__menulinje a:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: var(--black);
  transition: width 0.3s ease;
}

.nav__menulinje a:hover:after {
  width: 100%;
}



nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav a {
  height: 100%;
  padding: 0 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--black);
}

nav li:first-child {
  margin-right: auto;
}

nav a:last-child {
  margin-right: 15px;
}

.search-icon,
.shop-icon {
  width: 25px;
}

.nav__sidepanel {
  position: fixed;
  top: 0;
  margin-top: 29px;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 10000;
  background-color: rgba(249, 242, 242, 0.857);
  backdrop-filter: blur(20px);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.nav__sidepanel li {
  width: 100%;
  padding-top: 10%;
}

.nav__sidepanel a {
  width: 100%;
  padding-left: 0%;
}



/* Dropdown-menu skjult som standard */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--pink);
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 150px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.dropdown-menu li a {
  display: block;
  padding: 10px;
  color: var(--black);
  text-decoration: none;
}


/* Vis dropdown ved hover på desktop */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Sørg for at .dropdown har position relativ */
.dropdown {
  position: relative;
}

.dropdown-menu a {
  font-size: 13px;
}

.nav__menulinje--knap {
  display: none;
}

/* Navigation */

@media (max-width: 1060px) {

  .nav__menulinje a {
    padding-left: 2%;
  }

  .nav__menulinje--item {
    display: none;
  }

  .nav__menulinje--knap {
    display: block;
  }

  .nav__menulinje .dropdown {
    display: none;
  }

  .nav__menulinje--logo a {
    font-size: 20px;
  }



}


/* --------- NAV BAR END --------- */

/* --------- FORSIDE START --------- */

/* Parallax Section */
.parallax-section {
  height: 99vh;
  background: url('img/homepage-backgroundimage.jpg') center / cover fixed;
}

.parallax-section_content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
}

.arrow {
  width: 50px;
  height: 50px;
  padding-top: 25vh;
}

/* Knapper */
.button {
  margin: 5%;
  background-color: var(--pink);
  border-radius: 50px;
  padding: 0.6rem 3rem;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: background-color 0.3s ease, border 0.3s ease;
  text-decoration: none;
}

.button a {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
  transition: color 0.3s ease;
}

.button:hover {
  background-color: var(--lightpink);
  border-color: var(--pink);
}

.button:hover a {
  color: var(--pink);
}

.popular-giftbaskets-section__button,
.local-suppliers-section__button {
  justify-self: center;
}

/* Billeder og video generelt */
img,
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Overskrift sektioner  */
.what-are-you-looking-for-section,
.local-suppliers-section,
.popular-giftbaskets-section {
  padding: 5% 2% 2%;
  background-color: #fff;
  text-align: center;
  width: 85%;
  margin: 0 auto;
}

.what-are-you-looking-for-section h3,
.local-suppliers-section h3,
.popular-giftbaskets-section h3 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 20px;
  padding: 0;
  text-align: center;
}

.what-are-you-looking-for-section h3::before,
.what-are-you-looking-for-section h3::after,
.local-suppliers-section h3::before,
.local-suppliers-section h3::after,
.popular-giftbaskets-section h3::before,
.popular-giftbaskets-section h3::after {
  content: "";
  height: 1px;
  background-color: var(--black);
  width: 100%;
  display: block;
  align-self: center;
}

/* Forsidebilleder Grid */
.front-page-images__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  text-align: center;
  width: 85%;
  padding: 2% 0;
  gap: 2%;
  background-color: var(--white);
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
}

.front-page-images__1 { grid-row: 1; grid-column: 1 / 3; }
.front-page-images__2 { grid-row: 2; grid-column: 1; }
.front-page-images__3 { grid-row: 2; grid-column: 2; }
.front-page-images__4 { grid-row: 1; grid-column: 3; }
.front-page-images__5 { grid-row: 2; grid-column: 3; }
.front-page-images__6 { grid-row: 1 / 3; grid-column: 4; }
.front-page-images__button { grid-row: 3; grid-column: 1 / 5; }

.image-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.image-box img {
  transition: transform 3s ease;
}

.image-box:hover img {
  transform: scale(1.1);
}

.image-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(89, 89, 89, 0.3);
  z-index: 1;
  pointer-events: none;
}

.front-page-images__caption,
.giftbasket-title {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--white);
  color: var(--black);
  padding: 10px;
  font-size: 20px;
  z-index: 2;
}

/* Carousel og wrapper */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 2%;
}

.wrapper i {
  padding: 2%;
  font-size: 30px;
  color: var(--pink);
  cursor: pointer;
}

.local-suppliers-section__carousel,
.popular-giftbaskets-section__carousel {
  font-size: 0;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  width: 85%;
}

.local-suppliers-section__carousel img,
.popular-giftbaskets-section__carousel img {
  object-fit: cover;
  width: calc(100% / 3);
  margin-left: 15px;
  margin-bottom: 20px;
  box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.3);
}

.local-suppliers-section__carousel img:first-child,
.popular-giftbaskets-section__carousel img:first-child,
.giftbasket:first-child {
  margin-left: 0;
}

/* giftbaskets elementer */
.giftbasket {
  position: relative;
  display: inline-block;
  width: calc(100% / 3);
  margin-left: 15px;
  overflow: hidden;
  box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.3);
}

.giftbasket img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.giftbasket-title {
  bottom: 3px;
}

/* Hvem er vi sektion */
.who-are-we-section {
  padding: 5% 0;
  background-color: var(--lightpink);
  text-align: center;
}

.who-are-we-section__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
  place-items: center;
  text-align: center;
  width: 85%;
  margin: 0 auto;
  background-color: var(--lightpink);
}

.who-are-we-section__h3 {
  grid-column: 2;
  grid-row: 1;
  padding-left: 3%;
  justify-self: start;
}

.who-are-we-section__img {
  grid-column: 1;
  grid-row: 1 / 4;
}

.who-are-we-section__text {
  grid-column: 2;
  grid-row: 2;
  padding-left: 2%;
}

.who-are-we-section__text p {
  text-align: left;
}

.who-are-we-section__button {
  grid-column: 2;
  grid-row: 3;
}

/* Responsivt design forside */
@media (max-width: 768px) {

  .what-are-you-looking-for-section h3,
  .local-suppliers-section h3,
  .popular-giftbaskets-section h3 {
    font-size: 16px;
    gap: 10px;
    margin-top: 10%;
  }

  .front-page-images__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 5% 0;
  }

  .front-page-images__1 { grid-column: 1 / 3; grid-row: 1; }
  .front-page-images__2 { grid-column: 1; grid-row: 2; }
  .front-page-images__3 { grid-column: 2; grid-row: 2; }
  .front-page-images__4 { grid-column: 1; grid-row: 3; }
  .front-page-images__5 { grid-column: 1; grid-row: 4; }
  .front-page-images__6 { grid-column: 2; grid-row: 3 / 5; }
  .front-page-images__button { grid-column: 1 / 3; grid-row: 5; }

  .front-page-images__caption {
    font-size: 13px;
    bottom: -11px;
  }

  .giftbasket {
    width: 100%;
  }

  .giftbasket-title {
    font-size: 13px;
    bottom: 9px;
  }

  .local-suppliers-section__carousel img,
  .popular-giftbaskets-section__carousel img {
    width: 100%;
    height: 100%;
  }

  .wrapper i {
    padding: 1%;
  }

  .who-are-we-section__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 5% 0;
  }

  .who-are-we-section__h3,
  .who-are-we-section__text,
  .who-are-we-section__button,
  .who-are-we-section__img {
    grid-column: 1;
  }

  .who-are-we-section__h3 { grid-row: 1; }
  .who-are-we-section__text { grid-row: 2; }
  .who-are-we-section__button { grid-row: 3; }
  .who-are-we-section__img { grid-row: 4; }
}

/* --------- FORSIDE END --------- */





/* --------- PRODUCTSITE START --------- */
.content-wrapper {
  width: 85%;
  max-width: 1200px;
  /* valgfrit, for at begrænse meget store skærme */
  margin: 0 auto;
}

body.page-subs {
  font-family: 'Montserrat', sans-serif;
  background: #fff;
  color: var(--black);
  margin: 0;
}

.product-categories {
  display: flex;
  justify-content: center;
  gap: 10.5rem;
  margin: 3rem 0;
  flex-wrap: wrap;
  text-align: center;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
}

.image-circle {
  background-color: #F3F3F3;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1),
    box-shadow 0.4s ease,
    filter 0.3s ease;
}

.image-circle img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

.image-circle:hover {
  background-color: var(--white);
  transform: scale(1.05) translateY(-5px);
  /* Lidt større og opad */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  /* skygge under */
  cursor: pointer;
}

.image-circle.active {
  background-color: var(--white);
  transform: scale(1.07) translateY(-6px);
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.25);
}

.category p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #333;
}

.breadcrumb {
  padding-top: 18vh;
  padding-bottom: 5vh;
}

.product-header h2,
.company-gifts-header h2 {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* lidt luft mellem tekst og linje */
  margin-bottom: 10%;
}

.product-header h2::after,
.company-gifts-header h2:after {
  content: "";
  flex-grow: 1;
  /* fylder resten af pladsen */
  height: 1px;
  background-color: var(--black);
  /* ingen width, flex-grow bestemmer bredden */
  display: block;
}

.product-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem 2rem;
  font-size: 0.9rem;
}

.hidden {
  display: none;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 0;
}

.product-card {
  position: relative;
  width: 180px;
  margin: 0 auto 2rem auto;
  text-align: start;
}

.giftwrapping-card {
  position: relative;
  width: 180px;
  text-align: start;
  padding-top: 5%;
}

.product-card img {
  width: 100%;
  height: auto;
  font-family: 'Montserrat', sans-serif;
}

.product-box {
  width: 180px;
  height: 180px;
  background-color: #F3F3F3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem auto;
  position: relative;
  overflow: hidden;
}

.product-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  width: 100%;
  display: block;
}

.product-title {
  font-weight: 300;
  margin-top: 0.5rem;
  margin-left: 0px;
}

.product-price {
  font-weight: 500;
  margin-left: 0px;
}

.product-info {
  width: 100%;
}

/* Paginering centreret */
.pagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: 2rem 0;
}

.pagination a,
.pagination span {
  text-decoration: none;
  color: black;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
}

.pagination .active {
  background-color: #ddd;
}

/* Responsivt layout produktside */
@media (max-width: 768px) {


  .product-controls,
  .product-grid {
    padding: 1rem;
  }

  .product-controls {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .product-grid {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }

  .store-overlay h3 {
    font-size: 1.5rem;
  }

  .store-overlay p {
    font-size: 0.95rem;
  }

  .store-overlay .button {
    font-size: 0.95rem;
  }

  .footer-info {
    flex-direction: column;
    gap: 2rem;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}

/* --------- PRODUCTSITE END --------- */



/* --------- GIFT BASKET SITE START --------- */
.gift-header h2 {
  display: flex;
  align-items: center;

}

.gift-header h2::after {
  content: "";
  flex-grow: 1;
  /* fylder resten af pladsen */
  height: 1px;
  background-color: var(--black);
  /* ingen width, flex-grow bestemmer bredden */
  display: block;
}

.gift-header {
  margin: 60px 0;
  text-align: left;
}

.add-to-cart {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--pink);
  color: var(--white);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.2s;
  z-index: 500;
  line-height: 30px;
  /* Centrerer teksten lodret */
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.add-to-cart:hover {
  background-color: var(--pink);
}

.product-box:hover .add-to-cart {
  opacity: 1;
  pointer-events: auto;
}

.section-divider {
  height: 1px;
  background-color: var(--black);
  margin: 3rem auto;
  border: none;
}


/*------CAROUSEL GAVEKURVE SIDE----------*/



.product-categories-section__carousel {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  cursor: grab;
  width: 100%;
}

.product-categories-section__category {
  display: inline-block;
  width: calc(100% / 3); /* Samme som andre carousels */
  margin-right: 12%;
  margin-bottom: 20px;
}

.product-categories-section__category:first-child {
  margin-left: 0;
}

.category__image-circle {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 10px auto;
  box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.category__image-circle:hover {
  transform: scale(1.05);
}

.category__image-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category__label {
  font-size: 0.95rem;
  color: var(--dark);
  text-align: center;
}


@media (max-width: 768px) {

.product-categories-section__category
{
  margin-right: 2%;
}
  .category__image-circle{
    width: 120px;
    height: 120px;
  }

  .product-categories-section__carousel p {
    font-size: 13px;
  }

  .product-categories-section__category {
  width: 100%; /* Samme som andre carousels */
}
}


/* --------- GIFT BASKET SITE END --------- */



/* --------- SUPPLIER SITE START --------- */

.suppliers h2 {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* lidt luft mellem tekst og linje */
  margin-bottom: 60px;
}

.suppliers h2::after {
  content: "";
  flex-grow: 1;
  /* fylder resten af pladsen */
  height: 1px;
  background-color: var(--black);
  /* ingen width, flex-grow bestemmer bredden */
  display: block;
}

.suppliers__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4 billeder pr. række */
  gap: 3rem;
  margin-top: 2rem;
  margin-bottom: 9rem;
}

.suppliers__image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
   box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.3);
}


.suppliers__description {
  padding-bottom: 30px;
}

/* Responsivt layout supllier site */
@media (max-width: 768px) {
  .suppliers__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* --------- SUPPLIER SITE END --------- */




/* --------- ABOUT US SITE START --------- */
.about-us-section h2 {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* lidt luft mellem tekst og linje */
  margin-bottom: 60px;
}

.about-us-section h2::after {
  content: "";
  flex-grow: 1;
  /* fylder resten af pladsen */
  height: 1px;
  background-color: var(--black);
  /* ingen width, flex-grow bestemmer bredden */
  display: block;
}

.sustainability-text p {
  margin-bottom: 1.5rem;
  /* afstand mellem afsnit */
}

.contact-info p {
  margin: 0 0 1rem 0;
  /* lidt afstand mellem kontaktoplysninger */
}


.sustainability-section {
  margin: 60px 0;
}

/* Grid layout til sektionerne */
.about-us-content,
.sustainability-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

/* Grid areas for sustainability sektionen */
.sustainability-content {
  grid-template-areas: "image text";
}

/* for at fjerne den margin der var */
.sustainability-text h4 {
  margin-top: 0;
}

.sustainability-image {
  grid-area: image;
  display: flex;
  justify-content: center;
}

/* Billeder */
.about-us-image img,
.sustainability-image img {
  width: 100%;
}

.about-us-image,
.sustainability-image {
  display: flex;
  justify-content: center;
}

/* Responsivt layout about us site */
@media (max-width: 768px) {

  .about-us-section h2 {
    margin-bottom: 30px;
  }

  .about-us-content,
  .sustainability-content {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  /* Ændr rækkefølgen i sustainability på mobil */
  .sustainability-content {
    grid-template-areas:
      "image"
      "text";
  }

  .about-us-image img,
  .sustainability-image img {
    max-width: 100%;
  }
}


/* --------- ABOUT US SITE END --------- */




/* --------- CONTACT SITE START --------- */
.contact-section h2 {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* lidt luft mellem tekst og linje */
  margin-bottom: 60px;
}

.contact-section h2::after {
  content: "";
  flex-grow: 1;
  /* fylder resten af pladsen */
  height: 1px;
  background-color: var(--black);
  /* ingen width, flex-grow bestemmer bredden */
  display: block;
}

.contact-section__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* to kolonner */
  gap: 50px;
  align-items: start;
  /* evt. max-width for at undgå for små gridceller */
  max-width: 1200px;
  margin: 0 auto;
}

.contact-section__map iframe {
  width: 100%;
  height: 450px;
  border: 0;
}

.contact-section__text p {
  margin-bottom: 1.5rem;
  /* Eller hvad der passer */
}

.contact-section__text p:last-child {
  margin-bottom: 0;
}

/* Responsive: tablet og mobil */
@media (max-width: 768px) {
  .contact-section__content {
    grid-template-columns: 1fr;
    /* kun en kolonne */
    gap: 30px;
  }

  .contact-section__map iframe {
    height: 500px;
  }
}

/* --------- CONTACT SITE END --------- */



/* --------- VISIT OUR SHOP START --------- */
.visit-store {
  position: relative;
  height: 70vh;
  margin-top: 4rem;
  overflow: hidden;
}

.visit-store__bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.visit-store__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  /* Hvis den skal være mørk overlay */
  z-index: 1;
}

.visit-store__text-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: var(--white);
  text-align: center;
  max-width: 100%;
  width: 800px;
  padding: 0.5rem;
}

.visit-store__heading {
  font-size: 50px;
  font-family: 'Inria Serif', sans-serif;
  margin: 0 0 1rem;
}

.visit-store__subheading {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.visit-store__button {
  background: var(--lightpink);
  color: var(--pink);
  padding: 0.6rem 3rem;
  border-radius: 30px;
  font-weight: normal;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  display: inline-block;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .visit-store__text-content {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    line-height: 1.6;
    max-width: 500px;
    margin: 0 auto;
  }

  .visit-store__heading {
    font-size: 24px;
    margin-bottom: 1.5rem;
  }

  .visit-store__subheading {
    font-size: 14px;
    margin-bottom: 1.5rem;
  }
}



/* --------- VISIT OUR SHOP END --------- */


/* --------- FOOTER START --------- */

.site-footer {
  background-color: var(--pink);
  color: var(--white);
  padding: 3rem 2rem;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}

.site-footer__info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.site-footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  border-top: 1px solid var(--white);
  padding-top: 1rem;
}

.site-footer__bottom a,
.site-footer__social-links a {
  color: var(--white);
  text-decoration: none;
  margin-left: 1rem;
  font-weight: normal;
}

.site-footer h3 {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.site-footer__brand {
  font-family: 'Adamina', serif;
  font-size: 1.2rem;
  margin: 0;
}

.site-footer__hours {
  text-align: right;
}

/* --------- FOOTER END --------- */

/* Produktpris ikke bold */
.product-price {
  font-weight: normal;
  font-size: 0.95rem;
  color: var(--pink);
  text-align: left;
  padding-top: 6%;
}



/* --------- KURVEN --------- */
.cart-popup {
  position: fixed;
  top: 100px;
  right: 20px;
  width: 350px;
  background-color: var(--white);
  border: 1px solid var(--black);
  z-index: 9999;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  transform: translateX(120%);
}

.cart-popup.show {
  transform: translateX(0);
}

.cart-popup.hidden {
  display: none;
}

.cart-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0;
  border-bottom: 1px solid #eee;
}

.item-controls {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.item-controls button {
  background: none;
  border: 1px solid #000;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
  min-width: 24px;
}

.cart-note {
  display: flex;
  flex-direction: column;
}

.cart-note label {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.cart-note textarea {
  resize: vertical;
  padding: 0.5rem;
  font-size: 0.9rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.cart-summary {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.cart-extra label {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cart-extra a {
  text-decoration: underline;
  color: var(--black);
}

.checkout-button {
  background-color: var(--pink);
  color: var(--white);
  padding: 0.8rem;
  font-size: 1rem;
  border: none;
  width: 100%;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
}

.cart-options {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.95rem;
}

#custom-message {
  width: 100%;
  min-height: 80px;
  resize: vertical;
  font-size: 0.9rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 0.5rem;
}

.hidden {
  display: none;
}

.delivery-date {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.95rem;
}

.delivery-date label {
  font-weight: 500;
}

.delivery-date small {
  font-size: 0.75rem;
  color: #555;
}

#delivery-date-input {
  margin-top: 0.3rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: fit-content;
}

.hidden {
  display: none;
}


/* FIRMAGAVER SIDE STYLING */

.company-gifts-section__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  margin: 0 auto;
}

.company-gifts-section__text {
  grid-column: 1;
  grid-row: 1;
}

.company-gifts-section__img {
  grid-column: 2;
  grid-row: 1/3;
}


.company-gifts-section__contact {
  grid-column: 1;
  grid-row: 2;
}

/* Styling af Firmagaver side i mobilvisning */
@media (max-width: 768px) {
  .company-gifts-section__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .company-gifts-section__text {
    grid-column: 1;
    grid-row: 1;
  }

  .company-gifts-section__text p {
    padding-bottom: 10%;
  }


  .company-gifts-section__contact {
    grid-column: 1;
    grid-row: 3;
  }

  .company-gifts-section__contact p {
    padding: 10% 0;
  }


  .company-gifts-section__img {
    grid-column: 1;
    grid-row: 2;
  }
}




